:root{
    --main-color: #4A94A8;
    --accent-dark: #2B293C;
    --accent-light: #6a4a73;
    --accent-lighter: #E2D9CA;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    margin-top: 3em;
    background-color: var(--main-color);
}

p {
    color:var(--accent-dark);
}

header,
main,
footer{
    margin: 0 auto;
    max-width: 800px;
}

header h1, h2, h3{
    color: var(--accent-dark);
}

header{
    padding: 2.5em 0;
}

header h1{
    font-family: 'DotGothic16', 'Times New Roman', 'Times', serif;
    font-weight: bold;
    font-size: 3em;
}
header span{
    font-family: 'DotGothic16', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

header h1, span {
    display: flex;
    align-items: right;
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;

    display:flex;
    flex-flow:row;
    justify-content: center;


    background: var(--accent-dark); 
}

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color: var(--main-color);
}

nav a:hover {
    background: var(--accent-light);
    color: var(--accent-dark);
}

h1, h2, h3 {
    font-family: 'DotGothic16', 'Times New Roman', 'Times', serif;
    align-content: right;
}

section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
}

section ul{
    padding-left: 1.5em;
}

#aboutMe > div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2fr 5fr;
    margin: 1em auto;
    align-content: right;
}

#aboutMe img {
    width: 100%;
    align-content: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}

article p {
    background-color: var(--accent-dark);
    color: var(--main-color);
    padding: 1em;
    font-size: 14px;
}

article div img {
    height: 400px;
    width: 400px;
}

.project-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*>>>>>Slideshow Stuff<<<<<*/
.slideshow-gallery {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slides-fade {
    display: none;
    position: relative;
}

.slides-fade-0, .slides-fade-1, .slides-fade-2, .slides-fade-3 {
    position: relative;
}

.numbertext {
    position: absolute;
    right: 0;
    color: var(--accent-dark);
    background-color: white;
    border-radius: 0 0 0 6px;
    padding: 0.5em;
}

#slideshow-gallery-1, #slideshow-gallery-2, #slideshow-gallery-3, #slideshow-gallery-4 {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: gray;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
    transition: 0.6s ease;
    padding: 1rem;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#projects > article > h3 > a {
    text-decoration: none;
}

#projects article h3 a:visited {
    color: var(--accent-dark);
}

#projects article h3 a:hover {
    color: var(--accent-lighter);
}

#projects > article > p {
    background: var(--accent-dark);
    color: var(--main-color);
    padding: 1em;
    text-align: center;
    font-size: 14px;
}

#projects > article > img {
    width: 100%;
}

#contact{
    margin: auto;
    width: 50%;
    text-align: center;
    /* margin-top: 10em; */
    margin-bottom: 2em;
}

#image-links {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    max-height: 50px;
    margin-right: 2rem;
    justify-content: space-between;
}

#image-links a img {
    height: 100%;
    width: auto;
    border-radius: 69%;
}

#projects > article > .github-link-container {
    text-align: center;
    display: block;
    margin: 1em;
}

#whats-for-dinner-link {
    text-align: left;
    margin: 0em;
}

#projects > article > a > .github-link {
    height: 50px;
    width: 50px;
    border-radius: 69%;
}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: var(--accent-dark);
    color: var(--main-color);

    display:flex;
    flex-direction:row;
    justify-content: center;
}

